* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 1rem;
}

.window {
  position: relative;
  height: 70vh;
  width: 40vw;
  border-top: 2rem solid #474b4c;
  border-radius: .5rem;
  background-color: #252525;
  overflow: hidden;
}

body, section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#flip {
  width: 100%;
}

section > .steps, section > .window {
  flex-basis: 50%;
}

button {
  appearance: none;
  background: transparent;
  border: none;
  color: var(--color-surface50);
  font-size: 30vmin;
  font-weight: 300;
  cursor: pointer;
  transition: color 0.5s ease;
}

button:hover {
  color: var(--color-surface-white);
}
button:focus {outline:0;}


.steps {
  padding: 0 2rem;
  font-size: 1.1em;
}

.steps p:not(:first-child) {
  display: none;
}

.box, .boxPosition {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 10vmin!important;
  width: 10vmin!important;
  box-sizing: content-box;
}

.boxPosition {
  top: 6px;
  left: 6px;
  visibility: hidden;
  opacity: 0;
}

.box {
  text-align: center;
  line-height: 10vmin;
  font-size: 3.5vmin;
  font-weight: 400;
  border-radius: 1vmin;
}

.initialPosition {
  border-radius: 5px;
  border: 2px dashed var(--color-blue);
}

.finalPosition {
  border-radius: 10px;
  border: 2px dashed var(--color-surface-white);
}

.finalContainer {
  position: relative;
  width: 36vmin;
  height: 36vmin;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px dashed var(--color-surface50);
  border-radius: 10px;
  transform: translate(15vmin, -12vmin) scale(1.5) rotate(-30deg);
  color: var(--color-surface75);
  padding: 1vmin;
  font-size: 2vmin;
  overflow: visible;
}

.finalContainer:after {
  content: "new container";
  position: absolute;
  bottom: 100%;
  left: 0;
  padding-bottom: 0.25rem;
  font-size: 0.9rem;
  z-index: -1;
}
.logo {
  position: absolute;
  width: 60px;
  bottom: 20px;
  right: 30px;
}

code {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  font-size: 1rem;
}

.gsap-logo {
  max-width: 100px;
}